@model IEnumerable<QuanLyDuLich.Models.Tour>

@{
    ViewBag.Title = "TourReview";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayoutAdmin.cshtml";
}

@section PageTitle{
    Duyệt tour
}

<h2>Tour Review</h2>
<h4>
    Kiểm tra và duyệt các tour được tạo mới hoặc đã cũ
</h4>

<div class="main-content" style="padding-top: 10px">

    @if (TempData.ContainsKey("ActiveSuccess"))
    {
        <div class="alert alert-success">
            <div class="d-flex justify-content-start">
                <span class="alert-icon m-r-20 font-size-30">
                    <i class="anticon anticon-check-circle"></i>
                </span>
                <div>
                    <h5 class="alert-heading">Thao tác thành công</h5>
                    <p>@TempData["ActiveSuccess"].</p>
                </div>
            </div>
        </div>
    }

    @if (TempData.ContainsKey("ActiveFail"))
    {
        <div class="alert alert-success">
            <div class="d-flex justify-content-start">
                <span class="alert-icon m-r-20 font-size-30">
                    <i class="anticon anticon-close-circle"></i>
                </span>
                <div>
                    <h5 class="alert-heading">Thao tác thành công</h5>
                    <p>@TempData["ActiveFail"].</p>
                </div>
            </div>
        </div>
    }

    <div class="card">
        <div class="card-body">
            <div class="row m-b-30">
                <div class="col-lg-8">
                    <div class="d-md-flex">
                        <div class="m-b-10 m-r-15">
                            <select id="listFilter" class="custom-select" style="min-width: 180px">
                                <option value="all" selected>Tất Cả</option>
                                <option value="In Stock">In Stock</option>
                                <option value="Out of Stock">Out of Stock</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 text-right">
                    <a href="@Url.Action("Create", "Tours")" class="btn btn-primary"><i class="anticon anticon-plus-circle m-r-5"></i> Tạo Mới Tour</a>

                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover e-commerce-table">
                    <thead>
                        <tr>
                            <th>
                                Tên Tour
                                @*@Html.DisplayNameFor(model => model.tour_name)*@
                            </th>
                            <th>
                                Giá Tour
                                @*@Html.DisplayNameFor(model => model.price)*@
                            </th>
                            <th>
                                Ngày khởi hành
                                @*@Html.DisplayNameFor(model => model.departure_time)*@
                            </th>
                            <th>
                                Địa điểm
                                @*@Html.DisplayNameFor(model => model.arrival_location)*@
                            </th>
                            <th>
                                Đánh giá
                                @*@Html.DisplayNameFor(model => model.rating)*@
                            </th>
                            <th>
                                Số lượng
                                @*@Html.DisplayNameFor(model => model.quantity)*@
                            </th>
                            <th>
                                Trạng thái
                                @*@Html.DisplayNameFor(model => model.status)*@
                            </th>
                            <th>
                                Duyệt
                                @*@Html.DisplayNameFor(model => model.is_active)*@
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="listItem">
                        @foreach (var item in Model)
                        {
                            <tr class="userRow" data-role="@item.status">
                                <td>
                                    @Html.DisplayFor(modelItem => item.tour_name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.price)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.departure_time)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.arrival_location)
                                </td>
                                <td>
                                    @if (item.rating != null)
                                    {
                                        @Html.DisplayFor(modelItem => item.rating)
                                    }
                                    else
                                    {
                                        <p>Không có đánh giá</p>
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.quantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.status)
                                </td>
                                <td>
                                    @if (item.is_active == true)
                                    {
                                        <div class="d-flex align-items-center">
                                            <div class="badge badge-success badge-dot m-r-10"></div>
                                            <div>Đã duyệt</div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="d-flex align-items-center">
                                            <div class="badge badge-danger badge-dot m-r-10"></div>
                                            <div>Chưa duyệt</div>
                                        </div>
                                    }
                                    @*@Html.DisplayFor(modelItem => item.is_active)*@
                                </td>
                                <td class="text-right">
                                    <a href="@Url.Action("ActiveTour", "Tours", new { id = item.id_tour })" class="btn btn-icon btn-success btn-tone btn-hover btn-sm btn-rounded pull-right"> <i class="anticon anticon-check"></i> </a>
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>



            </div>
        </div>
    </div>
</div>


<script>
    document.getElementById('listFilter').addEventListener('change', function () {
        let selectedName = this.value;

        let element = document.getElementsByClassName('userRow');

        for (var i = 0; i < element.length; i++) {
            var role = element[i].getAttribute('data-role');
            if (selectedName === 'all' || selectedName === role) {
                element[i].style.display = 'table-row'; // Hiển thị hàng
            } else {
                element[i].style.display = 'none'; // Ẩn hàng
            }
        }
    })
</script>

