@model QuanLyDuLich.Models.TourManagement


@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayoutAdmin.cshtml";
}

<h2>Phân Công Nhân Viên</h2>

@if (TempData.ContainsKey("PCsuccess"))
{
    <div class="alert alert-success">
        <div class="d-flex justify-content-start">
            <span class="alert-icon m-r-20 font-size-30">
                <i class="anticon anticon-close-circle"></i>
            </span>
            <div>
                <h5 class="alert-heading">Thao tác thành công</h5>
                <p>@TempData["PCsuccess"].</p>
            </div>
        </div>
    </div>
}
@if (TempData.ContainsKey("PCfail"))
{
    <div class="alert alert-danger">
        <div class="d-flex justify-content-start">
            <span class="alert-icon m-r-20 font-size-30">
                <i class="anticon anticon-close-circle"></i>
            </span>
            <div>
                <h5 class="alert-heading">Thao tác thất bại</h5>
                <p>@TempData["PCfail"].</p>
            </div>
        </div>
    </div>
}

<div class="card">
    <div class="card-body">
        <h4>Danh Sách Tour</h4>
        <p>
            Chọn một tour để phân công cho nhân viên.
        </p>
        <div class="m-t-25">
            <table id="data-table" class="table">
                <thead>

                    <tr>
                        <th>Chọn</th>
                        <th>ID</th>
                        <th>Tên Tour</th>
                        <th>Ngày Khởi Hành</th>
                    </tr>
                </thead>
                <tbody>
                    @if (ViewBag.tours != null)
                    {
                        foreach (var tour in ViewBag.tours)
                        {
                            <tr>
                                <td>
                                    <div class="checkbox">
                                        <div class="checkbox">
                                            @{
                                                bool isChecked = false;
                                                foreach (var tc in ViewBag.toursChecked)
                                                {
                                                    if (tc.id_tour == tour.ID && tc.id_user == ViewBag.employee.id_user)
                                                    {
                                                        isChecked = true;
                                                        break;
                                                    }
                                                }
                                            }
                                            @if (isChecked)
                                            {
                                                <input checked id="checkAll @tour.id_tour" type="checkbox">
                                            }
                                            else
                                            {
                                                <input id="checkAll @tour.id_tour" type="checkbox">
                                            }
                                            <label for="checkAll @tour.id_tour" class="m-b-0" />
                                        </div>
                                    </div>
                                </td>
                                <td>@tour.id_tour</td>
                                <td>@tour.tour_name</td>
                                <td>
                                    @tour.departure_time
                                </td>
                                <td>
                               
                            </tr>

                        }
                    }
                    else
                    {
                        <tr>
                            <td>id_tour</td>
                            <td>tour_name</td>
                            <td>
                                departure_time
                            </td>
                            <td>
                            <th>
                                <a class="btn btn-icon btn-warning btn-sm "><i class="fas fa-plus-square"></i></a>
                            </th>
                        </tr>
                    }


                </tbody>
                <tfoot>
                    <tr>
                        <td>Chọn</td>
                        <th>ID</th>
                        <th>Tên Tour</th>
                        <th>Ngày Khởi Hành</th>
                    </tr>
                </tfoot>

            </table>
            <div style=" display: flex; justify-content: space-between; font-size: 20px; color: white; ">
                <a id="submit" class="btn btn-success">Phân công nhân viên</a>
            </div>
        </div>
    </div>
</div>



@*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>TourManagement</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.id_tour_manamegement)

            <div class="form-group">
                @Html.LabelFor(model => model.id_tour, "id_tour", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("id_tour", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.id_tour, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.id_user, "id_user", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("id_user", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.id_user, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.createDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.createDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.createDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.isAsign, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.isAsign)
                        @Html.ValidationMessageFor(model => model.isAsign, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }*@

<div>
    @Html.ActionLink("Back to List", "EmployeeAsignment")
</div>


@*<script>
    function getSelectedIds() {
        var selectedIds = [];
        var checkboxes = document.querySelectorAll('input[type=checkbox]');
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                var row = checkboxes[i].closest('tr');
                var id = row.getElementsByTagName('td')[1].textContent;
                selectedIds.push(id);
            }
        }
        return selectedIds;
    }
    function postSelectedIds() {
        var selectedIds = getSelectedIds();
        fetch(window.location.href, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ "tourids": selectedIds })
        })
            .then(function (response) {
                if (response.ok) {
                    // handle success
                } else {
                    // handle error
                }
            })
            .catch(function (error) {
                // handle network error
            });
    }
    var postButton = document.getElementById('submit');
    postButton.addEventListener('click', function () {
        postSelectedIds();
        console.log('AAA');
    });
</script>*@