@model IEnumerable<QuanLyDuLich.Models.User>

@{
    ViewBag.Title = "EmployeeManament";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayoutAdmin.cshtml";
}

@section HeadLinks{
    <link rel="stylesheet" href="" />
}
<h2>Phân Công Nhân Viên</h2>

@if (TempData.ContainsKey("AddSuccess"))
{
    <div class="form-group">
        <label class="font-weight-semibold" style="color:green">@TempData["AddSuccess"]</label>
    </div>
}





<div class="card">
    <div class="card-body">
        <h4>Danh Sách Nhân Viên</h4>
        <div class="m-t-25">
            <table id="data-table" class="table">
                <thead>

                    <tr>
                        <th>ID</th>
                        <th>Tên Nhân Viên</th>
                        <th>Email</th>
                        <th>Số điện thoại</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var emp in Model)
                    {
                        <tr>

                            <td>@emp.id_user</td>
                            <td>@emp.first_name</td>

                            <td>@emp.email</td>
                            <td>@emp.phone</td>
                            <td>
                                ac
                            </td>
                            <td>
                                @*<div style=" display: flex; justify-content: space-between; font-size: 20px; color: white; ">
                                        <a href="@Url.Action("Edit", "TourManagements", new { id = emp.id_user })" class="btn btn-warning">
                                            <i class="fa-solid fa-pen-to-square">
                                            </i>
                                        </a>
                                    </div>*@
                                <a href="@Url.Action("Edit", "TourManagements", new {id = emp.id_user})" class="btn btn-icon btn-warning btn-sm "> <i class="anticon anticon-edit"></i> </a>
                            </td>

                        </tr>
                    }


                </tbody>
                <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Tên Nhân Viên</th>
                        <th>Email</th>
                        <th>Số điện thoại</th>
                    </tr>
                </tfoot>

            </table>
        </div>


    </div>
</div>




<!-- Content Wrapper START -->
<div class="main-content" style="padding-top: 10px">

    <div class="card">
        <div class="card-body">
            <div class="row m-b-30">
                <div class="col-lg-8">
                    <div class="d-md-flex">
                        <div class="m-b-10 m-r-15">
                            <select id="listFilter" class="custom-select" style="min-width: 180px">
                                <option value="all" selected>Tất Cả</option>
                                <option value="Admin">Admin</option>
                                <option value="Nhân viên">Nhân Viên</option>
                                <option value="Khách hàng">Khách Hàng</option>
                            </select>
                        </div>
                    </div>
                </div>
                @*<div class="col-lg-4 text-right">
                        <a href="@Url.Action("Create", "Users")" class="btn btn-primary"><i class="anticon anticon-plus-circle m-r-5"></i> Tạo Mới Tài Khoản</a>

                    </div>*@
            </div>
            <div class="table-responsive">
                <table class="table table-hover e-commerce-table">
                    <thead>
                        <tr>
                            <th>
                                Mã Tài khoản
                                @*@Html.DisplayNameFor(model => model.id_user)*@
                            </th>
                            <th>
                                Họ
                                @*@Html.DisplayNameFor(model => model.last_name)*@
                            </th>
                            <th>
                                Tên
                                @*@Html.DisplayNameFor(model => model.first_name)*@
                            </th>
                            <th>
                                Tên tài khoản
                                @*@Html.DisplayNameFor(model => model.username)*@
                            </th>
                            <th>
                                Chức vụ
                                @*@Html.DisplayNameFor(model => model.user_role)*@
                            </th>
                        </tr>
                    </thead>
                    <tbody id="listItem">
                        @foreach (var item in Model)
                        {
                            <tr class="userRow" data-role="@item.user_role">
                                <td>
                                    @Html.DisplayFor(modelItem => item.id_user)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.last_name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.first_name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.username)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.user_role)
                                </td>
                                <td class="text-right">
                                    <a href="@Url.Action("Edit", "Users", new {id = item.id_user})" class="btn btn-icon btn-hover btn-sm btn-rounded pull-right"> <i class="anticon anticon-edit"></i> </a>
                                    <a href="@Url.Action("Delete", "Users", new {id = item.id_user})" class="btn btn-icon btn-hover btn-sm btn-rounded"> <i class="anticon anticon-delete"></i> </a>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>
<!-- Content Wrapper END -->

<script src="~/Assets/vendors/datatables/jquery.dataTables.min.js"></script>
<script src="~/Assets/vendors/datatables/dataTables.bootstrap.min.js"></script>
<script src="~/Assets/js/pages/e-commerce-order-list.js"></script>

<script>
    document.getElementById('listFilter').addEventListener('change', function () {
        let selectedName = this.value;

        let element = document.getElementsByClassName('userRow');

        for (var i = 0; i < element.length; i++) {
            var role = element[i].getAttribute('data-role');
            if (selectedName === 'all' || selectedName === role) {
                element[i].style.display = 'table-row'; // Hiển thị hàng
            } else {
                element[i].style.display = 'none'; // Ẩn hàng
            }
        }
    })
</script>
