@model IEnumerable<QuanLyDuLich.Models.TourManagement>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayoutAdmin.cshtml";
}

@section PageTitle{
    Danh sách phân công
}

<h2>Danh Sách Các Phân Công Đã Được Thực Hiện</h2>

<!-- Content Wrapper START -->
<div class="main-content" style="padding-top: 10px">

    <div class="card">
        <div class="card-body">
            
            <div class="table-responsive">
                <table class="table table-hover e-commerce-table">
                    <thead>
                        <tr>
                            <th>
                                ID
                                @*@Html.DisplayNameFor(model => model.id_user)*@
                            </th>
                            <th>
                                Tên Tour
                                @*@Html.DisplayNameFor(model => model.last_name)*@
                            </th>
                            <th>
                                Tên Nhân viên
                                @*@Html.DisplayNameFor(model => model.first_name)*@
                            </th>
                            <th>
                                Ngày Khởi hành
                                @*@Html.DisplayNameFor(model => model.username)*@
                            </th>
                            <th>
                                Ngày tạo
                                @*@Html.DisplayNameFor(model => model.user_role)*@
                            </th>
                        </tr>
                    </thead>
                    <tbody id="listItem">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.id_tour_manamegement)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Tour.tour_name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.User.first_name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Tour.departure_time)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.createDate)
                                </td>
                                <td class="text-right">
                                    
                                    <a href="@Url.Action("Delete", "TourManagements", new {id = item.id_tour_manamegement})" class="btn btn-icon btn-hover btn-sm btn-rounded"> <i class="anticon anticon-delete"></i> </a>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>
<!-- Content Wrapper END -->


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tour.tour_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.first_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.createDate)
        </th>
        
        <th></th>
    </tr>

    

</table>
