@model IEnumerable<QuanLyDuLich.Models.Order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayoutAdmin.cshtml";
}

@section PageTitle{
    Quản lý Orders
}

<h2>Quản lý Orders</h2>

    <!-- Content Wrapper START -->
        <div class="card">
            <div class="card-body">
                <div class="row m-b-30">
                    <div class="col-lg-8">
                        <div class="d-md-flex">
                            <div class="m-b-10">
                                <select class="custom-select" style="min-width: 180px;">
                                    <option selected>Trạng thái</option>
                                    <option value="all">All</option>
                                    <option value="chưa thanh toán">Chưa thanh toán</option>
                                    <option value="đã thanh toán">Đã thanh toán</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 text-right">
                        <button class="btn btn-primary">
                            <i class="anticon anticon-file-excel m-r-5"></i>
                            <span>Export</span>
                        </button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover e-commerce-table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Khách Hàng</th>
                                <th>Ngày Tạo</th>
                                <th>Tổng Tiền</th>
                                <th>Trạng Thái</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        #@Html.DisplayFor(modelItem => item.id_orders)
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="avatar avatar-image avatar-sm m-r-10">
                                                <img src="@Html.DisplayFor(modelItem => item.User.image)" alt="">
                                            </div>
                                            <h6 class="m-b-0">
                                                @Html.DisplayFor(modelItem => item.User.first_name)
                                            </h6>
                                        </div>
                                    </td>
                                    <td>@Html.DisplayFor(modelItem => item.created_date)</td>
                                    <td>@Html.DisplayFor(modelItem => item.price)</td>
                                    <td>
                                        @if (item.state == "chưa thanh toán")
                                        {
                                            <div class="d-flex align-items-center">
                                                <div class="badge badge-danger badge-dot m-r-10"></div>
                                                <div>Chưa thanh toán</div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="d-flex align-items-center">
                                                <div class="badge badge-success badge-dot m-r-10"></div>
                                                <div>Đã thanh toán</div>
                                            </div>
                                        }
                                    </td>
                                    <td class="text-right">
                                        <a href="@Url.Action("Detail", "Orders", new {id = item.id_user})" class="btn btn-icon btn-hover btn-sm btn-rounded pull-right"> <i class="fas fa-receipt"></i> </a>
                                        <a href="@Url.Action("Delete", "Orders", new {id = item.id_user})" class="btn btn-icon btn-hover btn-sm btn-rounded"> <i class="anticon anticon-delete"></i> </a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    <!-- Content Wrapper END -->
