
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Staff/Views/Shared/_MainLayoutStaff.cshtml";
}

<h2>Edit Tour</h2>

@if (TempData.ContainsKey("EditSuccess"))
{
    <div class="alert alert-success">
        <div class="d-flex align-items-center justify-content-start">
            <span class="alert-icon">
                <i class="anticon anticon-check-o"></i>
            </span>
            <span>@TempData["EditSuccess"]</span>
        </div>
    </div>
}
@if (TempData.ContainsKey("EditFail"))
{
    <div class="alert alert-danger">
        <div class="d-flex align-items-center justify-content-start">
            <span class="alert-icon">
                <i class="anticon anticon-check-o"></i>
            </span>
            <span>@TempData["EditFail"]</span>
        </div>
    </div>
}


<form method="post" enctype="multipart/form-data">
    <input type="hidden" name="id_tour" value="@ViewBag.tour.id_tour">

    <div class="page-header no-gutters has-tab">
        <div class="d-md-flex m-b-15 align-items-center justify-content-between">
            <div class="media align-items-center m-b-15">
                <div class="avatar avatar-image rounded" style="height: 70px; width: 70px">
                    <img src="@ViewBag.tour.image" alt="">
                </div>
                <div class="m-l-15">
                    <h4 class="m-b-0"> Mã tour: @ViewBag.tour.id_tour</h4>
                </div>
            </div>
            <div class="m-b-15">
                <button class="btn btn-primary">
                    <i class="anticon anticon-save"></i>
                    <span>Save</span>
                </button>
            </div>
        </div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#product-edit-basic">Basic Info</a>
            </li>
        </ul>
    </div>
    <div class="tab-content m-t-15">
        <div class="tab-pane fade show active" id="product-edit-basic">
            <div class="card">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputCity">Tên Tour</label>
                        <input value="@ViewBag.tour.tour_name" placeholder="ex: Tour du lịch Vũng Tàu..." name="tour_name" type="text" class="form-control" id="inputCity">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputZip">Số lượng tour</label>
                        <input value="@ViewBag.tour.quantity" placeholder="ex: 20" name="quantity" type="number" class="form-control" id="inputZip">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputZip">Giá tour</label>
                        <input value="@string.Format("{0:}", ViewBag.tour.price)" placeholder="ex: 2000000 VND" name="price" type="number" class="form-control" id="inputZip">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputZip">Ngày đi</label>
                        <input value="@((ViewBag.tour.departure_time).ToString("yyyy-MM-dd"))" name="departure_time" placeholder="ex: 2.." type="date" class="form-control" id="inputZip">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputZip">Ngày về</label>
                        <input value="@((ViewBag.tour.return_time).ToString("yyyy-MM-dd"))" name="return_time" placeholder="ex: 2.." type="date" class="form-control" id="inputZip">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="form-group col-md-6">
                        <label for="inputZip">Nơi đi</label>
                        <input value="@ViewBag.tour.departure_location" name="departure_location" type="text" class="form-control" id="inputEmail3" placeholder="địa điểm tập trung: TP.HCM">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputZip">Nơi đến</label>
                        <input value="@ViewBag.tour.arrival_location" name="arrival_location" type="text" class="form-control" id="inputEmail3" placeholder="địa điểm đến: Vũng Tàu">
                    </div>

                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Mô tả tour</label>
                    <div class="col-sm-12">
                        <input value="@ViewBag.tour.tour_description" name="tour_description" type="text" class="form-control" id="inputEmail3" placeholder="thông tin tour">
                    </div>


                </div>

                <div class="form-group row">
                    <label class="col-form-label col-sm-2 pt-0">Trạng thái</label>
                    <div class="col-sm-10">

                        <div class="radio">
                            <input required type="radio" name="status" id="isOcc1" value="Ontime" @(ViewBag.tour.status == "Ontime" ? "checked" : "")>
                            <label for="isOcc1">
                                Trong thời gian đặt tour
                            </label>
                        </div>
                        <div class="radio">
                            <input required type="radio" name="status" id="isOcc2" value="Outtime" @(ViewBag.tour.status == "Outtime" ? "checked" : "")>
                            <label for="isOcc2">
                                Đã quá hạn
                            </label>
                        </div>

                    </div>
                </div>


                <div class="col-sm-12 mb-2">
                    <p>Hình ảnh:</p>
                    <input accept="image/*" class="form-control" type="file" id="Image" name="Image" onchange="previewImage()" />
                </div>
                <div class="col-sm-12 mb-2">
                    <img id="product-image" src="@ViewBag.tour.image" style="width: 100%;  max-height: 500px; object-fit: contain" />
                </div>
                <div class="tab-pane fade" id="product-edit-description">
                    <div class="card">
                        <div class="card-body">
                            <div id="productDescription">
                                <p>Special cloth alert. The key to more success is to have a lot of pillows. Surround yourself with angels, positive energy, beautiful people, beautiful souls, clean heart, angel. They will try to close the door on you, just open it. A major key, never panic. Don’t panic, when it gets crazy and rough, don’t panic, stay calm. They key is to have every key, the key to open every door.The other day the grass was brown, now it’s green because I ain’t give up. Never surrender. Lion! I’m up to something. Always remember in the jungle there’s a lot of they in there, after you overcome they, you will make it to paradise.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 mb-2">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFile" multiple accept="image/*" name="Images">
                        <label class="custom-file-label" for="customFile">Choose file for details</label>
                    </div>
                    <div id="uploadIcon" style="display: none;">
                        <i class="fas fa-check-circle"></i> <span id="numUploaded"></span> images uploaded successfully!
                    </div>
                </div>
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="@ViewBag.tour.Tour_image" class="d-block w-100" alt="...">
                        </div>
                        @foreach (var img in ViewBag.tour.Tour_image)
                            {
                                <div class="carousel-item col-sm-12 mb-2">
                                    <img style=" width: 100%; max-height: 500px; object-fit: contain" src="@img.image_link" class="d-block w-100" alt="...">
                                </div>
                            }
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    function previewImage() {
        var fileInput = document.getElementById('Image');
        var img = document.getElementById('product-image');

        if (fileInput.files && fileInput.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                img.src = e.target.result;
            }
            reader.readAsDataURL(fileInput.files[0]);
        }
    }


    // event listener for file input change
    // function to preview images
    function previewImages() {
        var preview = document.querySelector('.carousel-inner');
        var indicators = document.querySelector('.carousel-indicators');
        preview.innerHTML = '';
        indicators.innerHTML = '';
        var files = document.getElementById('customFile').files;

        if (files) {
            // create carousel item for each image
            for (var i = 0; i < files.length; i++) {
                var file = files[i];
                var reader = new FileReader();
                reader.onload = function (event) {
                    var item = document.createElement('div');
                    var img = document.createElement('img');
                    img.src = event.target.result;
                    img.style.maxHeight = '500px';
                    img.style.objectFit = 'contain';
                    img.className = 'd-block w-100';
                    item.className = 'carousel-item';
                    item.appendChild(img);
                    preview.appendChild(item);
                };
                reader.readAsDataURL(file);

                // create carousel indicator for each image
                var indicator = document.createElement('li');
                indicator.setAttribute('data-target', '#carouselExampleIndicators');
                indicator.setAttribute('data-slide-to', i);
                if (i == 0) {
                    indicator.className = 'active';
                }
                indicators.appendChild(indicator);
            }
            setTimeout(function () {
                if (preview.firstChild) {
                    preview.firstChild.classList.add('active');
                }
            }, 100);
        }
    }

    // event listener for file input change
    document.getElementById('customFile').addEventListener('change', function () {
        previewImages();
        document.getElementById('uploadIcon').style.display = 'block';
        document.getElementById('numUploaded').innerHTML = this.files.length;
    });
</script>

